.cabecero{
  padding: 0 0 0 0.5em;
  color: rgb(19, 12, 12);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size:18px;
}

.cancion{
  list-style-type: none;
  padding: 0px;
  width:max-content;
}

.cancion li{
  cursor: pointer;
  position: relative;
  background-color: rgb(196, 181, 181);
  margin: 0.4em;
  height: 1.5em;
  border-radius: 5px;
}

.cancion li:hover{
  color: rgb(255, 255, 255);
  background-color: darkcyan;
  left: 2.9em;
}

.cancionId{
  display: inline-block;
  font-size: small;
  color: wheat;
  padding: 1px 1px 1px 1px;
  background-color:rgb(0, 0, 0) ;
  line-height: 1.5em;
  position: relative;
  height: 1.3em;
  margin-right: .5em;
  border-radius: 4px 0 0 4px;
  width:20px;
  text-align: center;
}
