<div *ngIf="cancion">

  <h2>{{cancion.titulo| uppercase}} </h2>

  <table border="3" >
    <tr>
      <th style="text-align: left;"><b>ID </b></th>
      <td style="width: 210px;">{{cancion.ID}}</td>
    </tr>
    <tr>
      <th style="text-align: left;"><b>Título</b></th>
      <td>{{cancion.TITULO}}</td>
    </tr>
    <tr>
      <th style="text-align: left;"><b>Autor</b></th>
      <td>{{cancion.AUTOR}}</td>
    </tr>
    <tr>
      <th style="text-align: left;"><b>Año</b></th>
      <td>{{cancion.FECHA}}</td>
    </tr>
    <tr>
      <th style="text-align: left;"><b>Álbum</b></th>
      <td>{{cancion.ALBUM}}</td>
    </tr>
    <tr>
      <th style="text-align: left;"><b>Género</b></th>
      <td>{{cancion.ESTILO}}</td>
    </tr>
  </table>
